.u-primary-color-bg{
    background-color: $primary-color;
}
.u-primary-color-text {
    color: $primary-color;
}
.u-padding-Y-80px {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.u-bg-gray {
    background-color: $bg-light-gray;
}
.u-bg-dark-gray {
    background-color: $bg-dark-gray;
}