.highlights {
    &__box1 {
        @include highlightbox;
        background-image: linear-gradient(rgba($black, 0.7), rgba($black, 0.7)), url(../img/pexels-albin-berlin-906982.jpg);
        height: 25rem;
    }
    &__box3 {
        @include highlightbox;
        background-image: linear-gradient(rgba($black, 0.7), rgba($black, 0.7)), url(../img/husb.jpg);
        height: 25rem;
    }
    &__box2 {
        &--top {
            @include highlightbox;
            background-image: linear-gradient(rgba($black, 0.7), rgba($black, 0.7)), url(../img/crew.jpg);
        }
        &--bottom {
            @include highlightbox;
            background-image: linear-gradient(rgba($black, 0.7), rgba($black, 0.7)), url(../img/ship-chand.jpg);
        }
    }
}